html {
  font-family: helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.navigation {
  background-image: url("../images/the-flatiron-building.png");
}
a {
  color: white;
  font-size: 18px;
}
